@font-face {
    font-family: 'governorregular';
    src: url('../fonts/governor-webfont.eot');
    src: url('../fonts/governor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/governor-webfont.woff') format('woff'),
         url('../fonts/governor-webfont.ttf') format('truetype'),
         url('../fonts/governor-webfont.svg#governorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #171717;
	color: #f4f4f4;
}

h1{
	text-indent: -9999px;
	background-image: url(../img/logo_grijs.png);
	background-repeat: no-repeat;
	height: 110px;
	width: 275px;
	margin: 15px auto;
}

h2{
	font-family: 'governorregular';
	font-size: 48px;
	text-align: center;
	line-height: 72px;
	margin-top: -10px;
}

h3.soort{
	text-align: center;
	font-size: 36px;
}

div.float img{
	height: 200px;
	width: 300px;
	margin-left: 20px;
}

div.float p{
	font-size: 18px;
	text-align: center;
	width: 300px;
	margin: 0 auto;
	line-height: 27px;
	padding-bottom: 10px;
}

div.float p:last-child{
	border-bottom: 1px solid #ff6e6e;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	div.artikel_thee{
		margin: 0 auto;
	}

	div.float p:last-child{
		border-bottom: none;
	}
}

@media (min-width: 1200px){
	div.header{
		height: 250px;
	}

	div.float p:last-child{
		border-bottom: none;
	}

	div.float{
		width: 300px;
		float: left;
	}
}