@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url('../fonts/stylesheet_kopie.css');
@font-face {
    font-family: 'governorregular';
    src: url('../fonts/governor-webfont.eot');
    src: url('../fonts/governor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/governor-webfont.woff') format('woff'),
         url('../fonts/governor-webfont.ttf') format('truetype'),
         url('../fonts/governor-webfont.svg#governorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
	height: 100%;
}
body{
	background-color: #231f20;
	color: #f4f4f4;
	font-family: 'Open Sans', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
	font-size: 18px;
}
div.wrapper{
	max-width: 1450px;
	min-height: 100%;
	margin: 0 auto;
}
div.header{
	background-image: url(../img/pattern.png);
	padding: 15px 0 0;
	height: 120px;
	width: 100%;
}
.header img{
	height: 110px;
	width: 275px;
	margin: 0 auto;
	display: block;
}
div.page{
	overflow: auto;
	padding-bottom: 20px;
}	
/*h1{
	text-indent: -9999px;
	background-image: url(../img/logo_grijs.png);
	background-repeat: no-repeat;
	height: 110px;
	width: 275px;
	margin: 0 auto;
	padding: 20px 0;
}*/
h2{
	font-family: 'governorregular', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
	font-size: 42px;
	text-align: center;
	line-height: 63px;
	padding-top: 15px;
}
h3.soort{
	font-family: 'governorregular', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
	font-size: 36px;
}
div.float img{
	margin-left: 20px;
}
div.float p.handwritten{
	font-family: 'dynalightregular', 'serif';
	font-size: 36px;
	letter-spacing: 3px;
}
div.float p{
	font-size: 16px;
	font-weight: 100;
	width: 300px;
	margin: 0 auto;
	line-height: 27px;
	padding-bottom: 10px;
	padding-top: 10px;
}
div.float p:last-child{
	border-bottom: 10px solid #ea5c5c;
	padding-bottom: 10px;
}
div.mid{
	height: 200px;
	margin-top: -30px;
	max-width: 1450px;
	margin: 0 auto;
}
div.mid-center p{
	font-family: 'governorregular', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
	font-size: 28px;
}
div.mid-center img{
	margin-top: -200px;
}
div.footer{
	height: 230px;
	position: relative;
	margin: -20px auto 0;
	clear: both;
	padding-top: 5px;
	background-color: #ea5c5c;
}
/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
div.footer p.copyright{
	font-size: 12px;
	text-align: right;
}
@media (min-width: 320px) and (max-width: 479px){
	div.footer{
		height: 320px;
		margin-top: -50px;
	}
}
@media (min-width: 320px) and (max-width: 720px) {
	h3.soort,
	div.float p
	{
		text-align: center;
	}
	div.artikel_thee{
		padding-bottom: 30px;
	}
	div.float img{
		padding-left: 75px;
	}
	div.mid{
		height: 320px;
	}
	div.mid-center{
		width: 300px;
		text-align: center;
		padding-top: 5px;
	}
	div.mid-center img{
		height: 200px;
		width: 180px;
		padding-top: 200px;
	}
	div.footer p.copyright{
		width: 300px;
		margin: 0 auto;
		text-align: left;
	}
	div.footer div.social_media{
		padding-top: 5px;
		width: 300px;
		margin: 0 auto;
	}
}
@media (min-width: 480px) and (max-width: 719px) {
	div.float img{
		padding-left: 110px;
	}
	div.footer{
		margin-top: -50px;
		height: 300px;
	}
	div.mid{
		height: 300px;
	}
}
@media (min-width: 720px) and (max-width: 767px){
	div.float img{
		padding-left: 230px;
	}
	div.mid{
		height: 270px;
		margin: 0 auto;
	}
	div.footer{
		margin: -50px auto 0;
		height: 270px;
	}
	div.footer div.social_media{
		padding: 2px 0 0 5px;
	}
	div.footer p.copyright{
		float: right;
		text-align: right;
		padding-top: 2px;
	}
}
@media (min-width: 768px) {
	h3.soort{
		padding-left: 36px;
	}
	div.float p:last-child{
		border-bottom: none;
		padding-bottom: 20px;
	}
	div.footer{
		height: 210px;
	}
}
@media (min-width: 768px) and (max-width: 1023px){
	h3.soort{
		font-size: 32px;
	}
	div.mid{
		margin-top: 10px;
	}
	div.mid-center p{
		padding: 70px 0 0 10px;
	}
	div.mid-center img{
		padding-top: 220px;
		margin-left: -80px;
	}
}
@media (min-width: 1024px) and (max-width: 1279px){
	div.artikel_thee{
		padding-bottom: 30px;
	}
	h3.soort{
		padding-left: 100px;
	}
	div.float img{
		padding-left: 80px;
	}
	div.mid{
		height: 150px;
	}
	div.mid-center p{
		padding: 40px 0 0 15px;
	}
	div.mid-center img{
		padding-top: 120px;
		margin-left: -50px;
	}
	div.footer{
		height: 150px;
	}
}
@media (min-width: 1280px){
	div.artikel_thee{
		padding-top: 60px;
	}
	div.float{
		width: 300px;
		float: left;
	}
	div.mid{
		margin-top: 30px;
	}
	div.mid-center p{
		text-align: center;
		padding-top: 65px;
	}
	div.mid-center img{
		padding-top: 30px;
	}
	div.social_media,
	p.copyright{
		margin-top: -15px;
	}
}
/*@media (min-width: 1440px) and (max-width: 1599px){
	div.mid-center img{
		margin: -240px 0 0 -60px;
	}
}
@media (min-width: 1600px) and (max-width: 1679px){
	div.mid-center img{
		margin: -260px 0 0 -100px;
	}
}
@media (min-width: 1680px) and (max-width: 1919px){
	div.mid-center img{
		margin: -300px 0 0 -140px;
	}
}
@media (min-width: 1920px){
	div.mid-center img{
		margin: -300px 0 0 -200px;
	}
}*/